// varibels
@import '/src/scss/varibel';
@import '/src/scss/common';
.header {
  background-color: $primary;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.haeder__top__rigth {
    display: flex;
    align-items: center;

}